#container{
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
  
}
#container1{
  width: 400px;
  height: 400px;
  position: relative;
  cursor:pointer;
 
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
  
}
#mycanvas1{
 position: absolute;

	
}
/*这是一个CSS的备注，看是是否可以用*/

.table1 table{
	
	float:right;
	border-collapse:collapse;	
	
}

.table1 table,th,td,caption{
	
	border:1px solid blue;
	border-bottom-color:black;
	border-bottom:5px;

			
}
.table1 caption{
	color:green;
	background:yellow;
	font-size:1.5em;
	text-align:center;

	
}

.colgroup1{
	
	background:red;
/*	span:2;	 span写在这里是有问题的，他是不会生效的，受了网站手册的毒，认为可以*/
	width:20%;

}


.col1{
	
	background:blue;
	
	}
	
.col2{
	
	background:yellow;
	align:center;
		
}
	
.col3{
	
	background:aqua;
	
}

.table1 th{
	
	border:1px solid blue;
    background:aqua;	

			
}

#rocket{
	
  position: absolute;

}

 a:hover{
  background-color:aqua;
  }