body{
	width:100%; 
	height:100%; 
	overflow-x:hidden;
	margin-left:auto;
}

 a:hover{
  background-color:aqua;
  }
  
#rizhi{
/*	width:100%; */
/*	border:1px solid blue;*/
	}


.colgroup1{
	
	background:none;
/*	span:2;	 span写在这里是有问题的，他是不会生效的，受了网站手册的毒，认为可以*/
	
}


#col1{
	
	background:none;
	width:8%; 
	}
	
#col2{
	
	background:none;
	text-align:center;
	width:20%; 	
	
}
	
#col3{
	
	background:none;
	width:60%; 	
}



#btn{
	
background:aqua;
height:20%;
width:30%;

	}

#btn1{
	
background:green;
height:20%;
width:30%;

	}	
	
#btn2{
	
background:yellow;
height:20%;
width:30%;

	}
	
.navigator{
width:100%;
background:none;	
	}
	
	
#main{
border:1px solid silver;
display:inline-block;
margin:1em;
} 

#rightpage{
border:1px solid blue;
/*padding-top:0.5%;*/
display:inline-block;
margin-left:1em;
} 


#liuyaninput{
	
float:left;		
display:block;
margin-top:1%;
border:0px solid yellow;

}

#liuyandisp{
display:block;	
float:left;	
margin-bottom:2%;	
border:0px solid red;
}

.liuyan{
display:block;	
float:left;	
border:0px solid red;	
}
.huifu1{
display:block;	
float:left;		
border:1px solid red;		
}



.foot{
float:left;		
width:100%;
text-align:center;
border:1px solid none;
padding-top:1em;
	
}

 .table1 table{
	
	float:left;
	border-collapse:collapse;	
	
}

.jiaa:hover{
	
	cursor:pointer;
	
}



.plnc{
float:left;	
width:35%;
display:inline-block;
background-color:none;
}

.pllc{
float:left;		
width:auto;
display:inline-block;		
}


.plrq{
float:right;	
width:auto;
text-align:right;
display:inline-block	
}  

.plnr{
float:left;	
width:auto;
display:inline-block	
} 

